<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timsoft.meurebanho"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.timsoft.meurebanho.activity.InicioActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.timsoft.meurebanho.activity.FazendasActivity"
            android:label="@string/app_name" >
        </activity>
        
		<meta-data android:name="DATABASE" android:value="meurebanho.db" />
		<meta-data android:name="VERSION" android:value="1" />
		<meta-data android:name="QUERY_LOG" android:value="true" />
		<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.timsoft.meurebanho.model" />
		
    </application>

</manifest>
