<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timsoft.meurebanho"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
		<!-- Main -->
        <activity
            android:name="com.timsoft.meurebanho.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Animal -->
        <activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalListActivity"
            android:label="@string/app_name" 
            android:parentActivityName="com.timsoft.meurebanho.MainActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.MainActivity" />
        </activity>
        
        <activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalAddActivity"
            android:label="@string/add_animal" 
            android:parentActivityName="com.timsoft.meurebanho.MainActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.MainActivity" />
        </activity>
        
		<activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalEditActivity"
            android:label="@string/animals" 
            android:parentActivityName="com.timsoft.meurebanho.MainActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.MainActivity" />
        </activity>
        
        <!-- Farm -->
		<activity
            android:name="com.timsoft.meurebanho.farm.activity.FarmsActivity"
            android:label="@string/farms" 
            android:parentActivityName="com.timsoft.meurebanho.MainActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.MainActivity" />
        </activity>
		<activity
            android:name="com.timsoft.meurebanho.farm.activity.FarmAddActivity"
            android:label="@string/add_farm" 
            android:parentActivityName="com.timsoft.meurebanho.farm.activity.FarmsActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.activity.FarmsActivity" />
        </activity>
		<activity
            android:name="com.timsoft.meurebanho.farm.activity.FarmEditActivity"
            android:label="@string/edit_farm" 
            android:parentActivityName="com.timsoft.meurebanho.farm.activity.FarmsActivity" >
        	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.timsoft.meurebanho.activity.FarmsActivity" />
        </activity>
        
		<meta-data android:name="DATABASE" android:value="meurebanho.db" />
		<meta-data android:name="VERSION" android:value="1" />
		<meta-data android:name="QUERY_LOG" android:value="true" />
		<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.timsoft.meurebanho" />
		
    </application>

</manifest>
