<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timsoft.meurebanho"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.timsoft.meurebanho.MeuRebanhoApp"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Main -->
        <activity
            android:name="com.timsoft.meurebanho.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Animal -->
        <activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalDetailActivity"
            android:label="@string/detail_animal"
            android:parentActivityName="com.timsoft.meurebanho.animal.activity.AnimalListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timsoft.meurebanho.animal.activity.AnimalListActivity" />
        </activity>

        <activity
            android:name="com.timsoft.meurebanho.animal.activity.AnimalMaintainActivity"
            android:icon="@drawable/launcher"
            android:label="@string/add_animal"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.timsoft.meurebanho.treatment.activity.TreatmentDetailActivity"
            android:label="@string/detail_treatment"
            android:parentActivityName="com.timsoft.meurebanho.treatment.activity.TreatmentDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timsoft.meurebanho.animal.activity.AnimalDetailActivity" />
        </activity>

        <activity
            android:name="com.timsoft.meurebanho.treatment.activity.TreatmentMaintainActivity"
            android:label="@string/add_treatment"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="DATABASE"
            android:value="meurebanho.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.timsoft.meurebanho" />

    </application>

</manifest>
